flows.json
[
  {
    "id": "55664ab706d66bc4",
    "type": "OpcUa-Server",
    "z": "75bc04af34e84800",
    "port": "53881",
    "name": "",
    "endpoint": "",
    "users": "",
    "nodesetDir": "",
    "autoAcceptUnknownCertificate": true,
    "registerToDiscovery": false,
    "constructDefaultAddressSpace": false,
    "allowAnonymous": true,
    "endpointNone": true,
    "endpointSign": true,
    "endpointSignEncrypt": true,
    "endpointBasic128Rsa15": true,
    "endpointBasic256": true,
    "endpointBasic256Sha256": true,
    "maxNodesPerBrowse": 0,
    "maxNodesPerHistoryReadData": 0,
    "maxNodesPerHistoryReadEvents": 0,
    "maxNodesPerHistoryUpdateData": 0,
    "maxNodesPerRead": 0,
    "maxNodesPerWrite": 0,
    "maxNodesPerMethodCall": 0,
    "maxNodesPerRegisterNodes": 0,
    "maxNodesPerNodeManagement": 0,
    "maxMonitoredItemsPerCall": 0,
    "maxNodesPerHistoryUpdateEvents": 0,
    "maxNodesPerTranslateBrowsePathsToNodeIds": 0,
    "maxConnectionsPerEndpoint": "",
    "maxMessageSize": "",
    "maxBufferSize": "",
    "maxSessions": "",
    "x": 560,
    "y": 200,
    "wires": [["a4ee0dc7764b8cdd"]]
  },
  {
    "id": "a4ee0dc7764b8cdd",
    "type": "debug",
    "z": "75bc04af34e84800",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 240,
    "wires": []
  },
  {
    "id": "476e44cf9427eb86",
    "type": "inject",
    "z": "75bc04af34e84800",
    "name": "Add room_temperature Variable",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 20,
    "topic": "ns=1;s=room_temperature;datatype=Float",
    "payload": "{\"opcuaCommand\": \"addVariable\"}",
    "payloadType": "json",
    "x": 170,
    "y": 100,
    "wires": [["55664ab706d66bc4"]]
  },
  {
    "id": "add_setpoint_variable",
    "type": "inject",
    "z": "75bc04af34e84800",
    "name": "Add room_temperature_setpoint Variable",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 21,
    "topic": "ns=1;s=room_temperature_setpoint;datatype=Float",
    "payload": "{\"opcuaCommand\": \"addVariable\"}",
    "payloadType": "json",
    "x": 160,
    "y": 140,
    "wires": [["55664ab706d66bc4"]]
  },
  {
    "id": "0f297d8cbc1972ae",
    "type": "function",
    "z": "75bc04af34e84800",
    "name": "Generate Random Temperature",
    "func": "msg.payload = {\n    messageType: 'Variable',\n    variableName: 'room_temperature',\n    datatype: 'Float',\n    namespace: 1,\n    variableValue: (Math.random() * 10) + 20// Random temperature between 20 and 30, rounded to one decimal place\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 190,
    "y": 220,
    "wires": [["55664ab706d66bc4", "4d328e546095d09f"]]
  },
  {
    "id": "464ffce70cdf7f24",
    "type": "inject",
    "z": "75bc04af34e84800",
    "name": "Update room_temperature every 10s",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": 30,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 280,
    "wires": [["0f297d8cbc1972ae"]]
  },
  {
    "id": "current_temperature_gauge",
    "type": "ui_gauge",
    "z": "75bc04af34e84800",
    "name": "Current Temperature",
    "group": "HMI_Group",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Current Temperature",
    "label": "°C",
    "format": "{{value}}",
    "min": "15",
    "max": "35",
    "colors": ["#ca0000", "#00b500", "#ca3838"],
    "seg1": "18",
    "seg2": "23",
    "diff": false,
    "className": "",
    "x": 1200,
    "y": 720,
    "wires": []
  },
  {
    "id": "setpoint_numeric",
    "type": "ui_numeric",
    "z": "75bc04af34e84800",
    "name": "Setpoint Temperature",
    "label": "Setpoint Temperature",
    "tooltip": "",
    "group": "HMI_Group",
    "order": 2,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "topicType": "str",
    "format": "{{value}}",
    "min": 15,
    "max": 35,
    "step": 0.5,
    "className": "",
    "x": 180,
    "y": 400,
    "wires": [["update_setpoint_function"]]
  },
  {
    "id": "update_setpoint_function",
    "type": "function",
    "z": "75bc04af34e84800",
    "name": "Update Setpoint",
    "func": "msg.payload = {\n    messageType: 'Variable',\n    variableName: 'room_temperature_setpoint',\n    datatype: 'Float',\n    namespace: 1,\n    variableValue: msg.payload\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 400,
    "wires": [["55664ab706d66bc4"]]
  },
  {
    "id": "setpoint_gauge",
    "type": "ui_gauge",
    "z": "75bc04af34e84800",
    "name": "Setpoint Temperature",
    "group": "HMI_Group",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Setpoint Temperature",
    "label": "°C",
    "format": "{{value}}",
    "min": 15,
    "max": 35,
    "colors": ["#ca0100", "#00b500", "#ca3838"],
    "seg1": "18",
    "seg2": "23",
    "diff": false,
    "className": "",
    "x": 1080,
    "y": 500,
    "wires": []
  },
  {
    "id": "915d9e56ba79a1fc",
    "type": "inject",
    "z": "75bc04af34e84800",
    "name": "Subscribe",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "30",
    "topic": "multiple",
    "payload": "",
    "payloadType": "str",
    "x": 190,
    "y": 560,
    "wires": [["30f3acdd43beb346"]]
  },
  {
    "id": "a3a823d5e76e0656",
    "type": "OpcUa-Client",
    "z": "75bc04af34e84800",
    "endpoint": "4b32fe4fd3aa315e",
    "action": "subscribe",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": "1000",
    "timeUnit": "ms",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "useTransport": false,
    "maxChunkCount": "",
    "maxMessageSize": "",
    "receiveBufferSize": "",
    "sendBufferSize": "",
    "name": "",
    "x": 800,
    "y": 560,
    "wires": [["5de5ae6414acb904", "setpoint_gauge"], [], []]
  },
  {
    "id": "30f3acdd43beb346",
    "type": "OpcUa-Item",
    "z": "75bc04af34e84800",
    "item": "ns=1;s=room_temperature_setpoint;datatype=Float",
    "datatype": "Float",
    "value": "",
    "name": "room_temperature_setpoint",
    "x": 460,
    "y": 560,
    "wires": [["a3a823d5e76e0656"]]
  },
  {
    "id": "5de5ae6414acb904",
    "type": "debug",
    "z": "75bc04af34e84800",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1040,
    "y": 560,
    "wires": []
  },
  {
    "id": "230ae60e9391defb",
    "type": "inject",
    "z": "75bc04af34e84800",
    "name": "Subscribe",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "30",
    "topic": "multiple",
    "payload": "",
    "payloadType": "str",
    "x": 170,
    "y": 660,
    "wires": [["351ac6ef4c0828e2"]]
  },
  {
    "id": "a1131f519096f181",
    "type": "OpcUa-Client",
    "z": "75bc04af34e84800",
    "endpoint": "4b32fe4fd3aa315e",
    "action": "subscribe",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": "1000",
    "timeUnit": "ms",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "useTransport": false,
    "maxChunkCount": "",
    "maxMessageSize": "",
    "receiveBufferSize": "",
    "sendBufferSize": "",
    "name": "",
    "x": 780,
    "y": 660,
    "wires": [["494aabc3be5ad58c", "be3789d5c9b7160b"], [], []]
  },
  {
    "id": "351ac6ef4c0828e2",
    "type": "OpcUa-Item",
    "z": "75bc04af34e84800",
    "item": "ns=1;s=room_temperature;datatype=Float",
    "datatype": "Float",
    "value": "",
    "name": "room_temperature",
    "x": 390,
    "y": 660,
    "wires": [["a1131f519096f181"]]
  },
  {
    "id": "cf62e5aa24d933ca",
    "type": "debug",
    "z": "75bc04af34e84800",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1180,
    "y": 800,
    "wires": []
  },
  {
    "id": "4d328e546095d09f",
    "type": "debug",
    "z": "75bc04af34e84800",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 300,
    "wires": []
  },
  {
    "id": "494aabc3be5ad58c",
    "type": "function",
    "z": "75bc04af34e84800",
    "name": "Set decimals to 1",
    "func": "// Set payload to 1 decimal point and return the message object\nmsg.payload = parseFloat(msg.payload.toFixed(1));\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 970,
    "y": 740,
    "wires": [["current_temperature_gauge", "cf62e5aa24d933ca"]]
  },
  {
    "id": "be3789d5c9b7160b",
    "type": "debug",
    "z": "75bc04af34e84800",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1020,
    "y": 840,
    "wires": []
  },
  {
    "id": "HMI_Group",
    "type": "ui_group",
    "name": "HMI",
    "tab": "HMI_Tab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "4b32fe4fd3aa315e",
    "type": "OpcUa-Endpoint",
    "endpoint": "opc.tcp://localhost:53881",
    "secpol": "None",
    "secmode": "None",
    "none": true,
    "login": false,
    "usercert": false,
    "usercertificate": "",
    "userprivatekey": ""
  },
  {
    "id": "HMI_Tab",
    "type": "ui_tab",
    "name": "Dashboard",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
