node-red/flows.json
[
  {
    "id": "77fb2fe8f9775e41",
    "type": "OpcUa-Client",
    "z": "0e715b3a92fdd1e8",
    "endpoint": "114b4c303f888104",
    "action": "subscribe",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": "1000",
    "timeUnit": "ms",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "useTransport": false,
    "maxChunkCount": "",
    "maxMessageSize": "",
    "receiveBufferSize": "",
    "sendBufferSize": "",
    "setstatusandtime": false,
    "keepsessionalive": false,
    "name": "Subscribe Room Temperature",
    "x": 270,
    "y": 360,
    "wires": [["aebbd0ea75e1ab69"], [], []]
  },
  {
    "id": "f8a02a0fdc66072a",
    "type": "ui_gauge",
    "z": "0e715b3a92fdd1e8",
    "name": "Current Temperature",
    "group": "HMI_Group",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Current Temperature",
    "label": "°C",
    "format": "{{value}}",
    "min": "15",
    "max": "35",
    "colors": ["#ca0000", "#00b500", "#ca3838"],
    "seg1": "18",
    "seg2": "23",
    "diff": false,
    "className": "",
    "x": 920,
    "y": 320,
    "wires": []
  },
  {
    "id": "b0d2e89c90060108",
    "type": "debug",
    "z": "0e715b3a92fdd1e8",
    "name": "Current Temperature Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 940,
    "y": 200,
    "wires": []
  },
  {
    "id": "fa65c1230b07148b",
    "type": "inject",
    "z": "0e715b3a92fdd1e8",
    "name": "Subscribe",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "30",
    "topic": "multiple",
    "payload": "",
    "payloadType": "str",
    "x": 170,
    "y": 120,
    "wires": [["1a545630f6f64906"]]
  },
  {
    "id": "1a545630f6f64906",
    "type": "OpcUa-Item",
    "z": "0e715b3a92fdd1e8",
    "item": "ns=2;i=2",
    "datatype": "Float",
    "value": "",
    "name": "ns=2;i=2",
    "x": 440,
    "y": 120,
    "wires": [["77fb2fe8f9775e41"]]
  },
  {
    "id": "06cfc63afa86cbce",
    "type": "OpcUa-Client",
    "z": "0e715b3a92fdd1e8",
    "endpoint": "114b4c303f888104",
    "action": "write",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": "1000",
    "timeUnit": "ms",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "useTransport": false,
    "maxChunkCount": "",
    "maxMessageSize": "",
    "receiveBufferSize": "",
    "sendBufferSize": "",
    "setstatusandtime": false,
    "keepsessionalive": false,
    "name": "Write Room Temperature",
    "x": 1090,
    "y": 420,
    "wires": [[], [], []]
  },
  {
    "id": "9823456278ddbad3",
    "type": "OpcUa-Item",
    "z": "0e715b3a92fdd1e8",
    "item": "ns=2;i=2",
    "datatype": "Float",
    "value": "",
    "name": "ns=2;i=2",
    "x": 760,
    "y": 500,
    "wires": [["06cfc63afa86cbce", "b2a48a67b3fb8076"]]
  },
  {
    "id": "b2a48a67b3fb8076",
    "type": "debug",
    "z": "0e715b3a92fdd1e8",
    "name": "Write Room Temperature",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1090,
    "y": 540,
    "wires": []
  },
  {
    "id": "607d12c5120990fd",
    "type": "function",
    "z": "0e715b3a92fdd1e8",
    "name": "generate random room temperature",
    "func": "msg.payload = (Math.random() * 10) + 20 // Random temperature between 20 and 30\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 500,
    "wires": [["9823456278ddbad3"]]
  },
  {
    "id": "19220595cf260c71",
    "type": "inject",
    "z": "0e715b3a92fdd1e8",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 500,
    "wires": [["607d12c5120990fd"]]
  },
  {
    "id": "aebbd0ea75e1ab69",
    "type": "function",
    "z": "0e715b3a92fdd1e8",
    "name": "set decimals to 1",
    "func": "msg.payload = parseFloat(msg.payload.toFixed(1));\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 340,
    "wires": [["b0d2e89c90060108", "f8a02a0fdc66072a"]]
  },
  {
    "id": "bb7b9f42aa7f0489",
    "type": "ui_numeric",
    "z": "0e715b3a92fdd1e8",
    "name": "Setpoint Temperature",
    "label": "Setpoint Temperature",
    "tooltip": "",
    "group": "HMI_Group",
    "order": 3,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "topicType": "str",
    "format": "{{value}}",
    "min": 15,
    "max": 35,
    "step": 0.5,
    "className": "",
    "x": 140,
    "y": 820,
    "wires": [["d71434bc5cfb1535"]]
  },
  {
    "id": "d5b6efedab18e4dd",
    "type": "debug",
    "z": "0e715b3a92fdd1e8",
    "name": "Write Setpoint Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 960,
    "y": 820,
    "wires": []
  },
  {
    "id": "80b3375a44728089",
    "type": "ui_gauge",
    "z": "0e715b3a92fdd1e8",
    "name": "Setpoint Temperature",
    "group": "HMI_Group",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Setpoint Temperature",
    "label": "°C",
    "format": "{{value}}",
    "min": "15",
    "max": "35",
    "colors": ["#ca0100", "#00b500", "#ca3838"],
    "seg1": "18",
    "seg2": "23",
    "diff": false,
    "className": "",
    "x": 940,
    "y": 660,
    "wires": []
  },
  {
    "id": "d9e5ca758444107a",
    "type": "function",
    "z": "0e715b3a92fdd1e8",
    "name": "set decimals to 1",
    "func": "msg.payload = parseFloat(msg.payload.toFixed(1));\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 660,
    "wires": [["80b3375a44728089", "6f82089e87714ed4"]]
  },
  {
    "id": "6f82089e87714ed4",
    "type": "debug",
    "z": "0e715b3a92fdd1e8",
    "name": "Current Setpoint Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 950,
    "y": 600,
    "wires": []
  },
  {
    "id": "38382ef318de6957",
    "type": "OpcUa-Client",
    "z": "0e715b3a92fdd1e8",
    "endpoint": "114b4c303f888104",
    "action": "subscribe",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": "1000",
    "timeUnit": "ms",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "useTransport": false,
    "maxChunkCount": "",
    "maxMessageSize": "",
    "receiveBufferSize": "",
    "sendBufferSize": "",
    "setstatusandtime": false,
    "keepsessionalive": false,
    "name": "Subscribe Setpoint Temperature",
    "x": 330,
    "y": 660,
    "wires": [["d9e5ca758444107a"], [], []]
  },
  {
    "id": "3eb2e8c77d98f9ca",
    "type": "OpcUa-Item",
    "z": "0e715b3a92fdd1e8",
    "item": "ns=2;i=3",
    "datatype": "Float",
    "value": "",
    "name": "ns=2;i=3",
    "x": 340,
    "y": 580,
    "wires": [["38382ef318de6957"]]
  },
  {
    "id": "790a1afac9487b16",
    "type": "inject",
    "z": "0e715b3a92fdd1e8",
    "name": "Subscribe",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "30",
    "topic": "multiple",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 580,
    "wires": [["3eb2e8c77d98f9ca"]]
  },
  {
    "id": "d71434bc5cfb1535",
    "type": "OpcUa-Item",
    "z": "0e715b3a92fdd1e8",
    "item": "ns=2;i=3",
    "datatype": "Float",
    "value": "",
    "name": "ns=2;i=3",
    "x": 680,
    "y": 820,
    "wires": [["d5b6efedab18e4dd", "5be0acd520e29de2"]]
  },
  {
    "id": "5be0acd520e29de2",
    "type": "OpcUa-Client",
    "z": "0e715b3a92fdd1e8",
    "endpoint": "114b4c303f888104",
    "action": "write",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": "1000",
    "timeUnit": "ms",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "useTransport": false,
    "maxChunkCount": "",
    "maxMessageSize": "",
    "receiveBufferSize": "",
    "sendBufferSize": "",
    "setstatusandtime": false,
    "keepsessionalive": false,
    "name": "Write Room Temperature",
    "x": 970,
    "y": 740,
    "wires": [[], [], []]
  },
  {
    "id": "114b4c303f888104",
    "type": "OpcUa-Endpoint",
    "endpoint": "opc.tcp://192.168.140.1:50000",
    "secpol": "None",
    "secmode": "None",
    "none": true,
    "login": false,
    "usercert": false,
    "usercertificate": "",
    "userprivatekey": ""
  },
  {
    "id": "HMI_Group",
    "type": "ui_group",
    "name": "HMI",
    "tab": "HMI_Tab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "HMI_Tab",
    "type": "ui_tab",
    "name": "Dashboard",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
